<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <title>OutrightAnalytics</title>
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/dojo/1.4/dijit/themes/tundra/tundra.css" />  
  <script type="text/javascript">
     djConfig={
       parseOnLoad: true,
       isDebug: true,
       baseUrl: "./",
       modulePaths: { outright: "/public/javascripts/outright" }
     };
  </script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/dojo/1.4/dojo/dojo.xd.js"></script>
</head>
<body class="tundra">

<%- body %>

</body>
</html>
