<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <title>OutrightAnalytics</title>
  <link href="/public/javascripts/dojo-1.4.3/dijit/themes/tundra/tundra.css" rel="stylesheet" type="text/css"/>
  <script src="/public/javascripts/dojo-1.4.3/dojo/dojo.js" type="text/javascript"></script>
  <script type="text/javascript" charset="utf-8">
    dojo.registerModulePath("outright","/public/javascripts/outright");
  </script>
</head>
<body class="tundra">

<%- body %>

</body>
</html>
